<div id="<%= dom_id stock %>">
  <p>
    <strong>Productid:</strong>
    <%= stock.productId %>
  </p>

  <p>
    <strong>Productname:</strong>
    <%= stock.productName %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= stock.price %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= stock.product_type %>
  </p> 
  <p>
    <strong>User id:</strong>
    <%= stock.user_id %>
    
  </p> 
  

</div>
